default:
    suites:
        default:
            contexts:
                - App\Behat\DomainContext

    extensions:
        RMiller\BehatSpec\Extension\BehatSpecExtension\BehatExtension: ~
        